/* Footer.css */

footer {
    background-color: #172238;
    color: #fff;
    flex-direction: column;
    align-items: center;
}
.social-icons {
    display: flex;
    justify-content: center; /* Align children horizontally at the center */
    align-items: center; /* Align children vertically at the center */
  }

.btn-floating {
    color: #fff;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #172238;
}

.form-outline {
    position: relative;
}

.form-outline input.form-control {
    color: #fff;
}

.form-outline label {
    color: #fff;
}

.form-outline input.form-control::placeholder {
    color: #fff;
}

.form-outline input.form-control:focus {
    border-color: #fff;
    box-shadow: 0 0 0 0.35rem rgba(32, 108, 138, 0.25);
}

.form-outline input[type="email"]::placeholder {
    color: #fff;
}

.form-outline input[type="email"]:focus::placeholder {
    color: #fff;
}

.pt-2 {
    color: #fff;
}
.ieee-footer{
    color: #f5a425;
}