.count{
    height: 60dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
    background-image: url("assets/images/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
}
.count-members{
    width: 300px;
    height: 250px;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    background: #142d616e;
    padding: 50px;
}