/* ContactUs.css */

.section-heading {
    text-align: center;
    margin-bottom: 70px;
}

.section-heading h2:before {
    width: 1px;
    height: 100px;
    background-color: rgba(250, 250, 250, 0.1);
    position: absolute;
    top: -102px;
    content: '';
    left: 50%;
    transform: translate(-50%);
}

.section-heading h2 {
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 15px 20px;
    border: 2px solid rgba(250, 250, 250, 0.1);
}

.form-container {
    position: relative;
    border-radius: 5px;
    padding: 60px;
    background-color:  rgba(250,250,250,0.1);
    margin: 0 auto;
}

.form-container::before {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the background color */
    border-radius: inherit; /* Inherit the border radius */
    /* backdrop-filter: blur(10px); Apply blur effect to the pseudo-element */
}

.orange-button {
    background-color: #f5a425;
    color: #fff;
    width: 100%; /* Ensure the button takes full width */
    max-width: 200px; /* Limit the maximum width of the button */
    margin-top: 20px;
    padding: 6px;
    border-radius: 5px;
    border-color: transparent;
    display: inline-block; /* Ensure button stays in a single line */
    text-align: center; /* Center-align text within the button */
    white-space: nowrap; /* Prevent text wrapping */
}

.orange-button:hover {
    background-color: #e0931e;
}
.form-container .col-md-6 input {
    margin-bottom: 20px;
    background-color: rgba(250,250,250,0.1);
}
.form-container .col-md-12 textarea{
    background-color: rgba(250,250,250,0.1);
}
.form-container input::placeholder{color: #fff;}
.form-container textarea::placeholder{color: #fff;}
.contact {
    background-image: url(/assets/images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
    padding: 0 120px 120px 120px;
}

.contact .left-content {
    color: #fff;
}

.contact .left-content span {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.contact .left-content h4 {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 20px;
}

.contact .left-content h4 em {
    font-style: normal;
    color: #f5a425;
}

.contact .left-content .main-button {
    margin-top: 30px;
}

.video-item {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0px auto 0;
}

@media screen and (max-width: 767px) {
    .contact .left-content {
        margin-bottom: 45px;
    }

    .contact .first-item .first-content h4,
    .contact .second-item .second-content h4 {
        text-align: center;
    }
}

.video-item figure {
    position: relative;
    width: 100%;
    font-size: 0;
}

